#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: black;
}

#body {
  background-image: url(./wp1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
